In [28]:
 #Importing Libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import nltk
import numpy as np
import string
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/codespace/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [2]:
train_df = pd.read_csv('/workspaces/codespaces-blank/news_classification/data/train.csv')
valid_df = pd.read_csv('/workspaces/codespaces-blank/news_classification/data/valid.csv')
train_df

,ArticleId,Text,Category
0,1155,chancellor rallies labour voters gordon brown ...,politics
1,1980,india s maruti sees profits jump india s bigge...,business
2,386,ukip s secret weapon by any measure new york...,politics
3,1436,banker loses sexism claim a former executive a...,business
4,304,dallaglio eyeing lions tour place former engla...,sport
...,...,...,...
1038,464,dozens held over id fraud site twenty-eight pe...,tech
1039,1468,commodore finds new lease of life the once-fam...,tech
1040,1023,fockers keeps us box office lead film comedy m...,entertainment
1041,1771,astrazeneca hit by drug failure shares in angl...,business
1042,1089,germany calls for eu reform german chancellor ...,business

In [3]:
train_df.describe()

         ArticleId
count  1043.000000
mean   1118.684564
std     644.332014
min       2.000000
25%     569.500000
50%    1106.000000
75%    1684.000000
max    2224.000000

In [4]:
train_df.shape

(1043, 3)

In [5]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1043 entries, 0 to 1042
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ArticleId  1043 non-null   int64
 1   Text       1043 non-null   object
 2   Category   1043 non-null   object
dtypes: int64(1), object(2)
memory usage: 24.6+ KB

In [6]:
train_df.dtypes

ArticleId     int64
Text         object
Category     object
dtype: object

In [7]:
train_df.isnull().sum()

ArticleId    0
Text         0
Category     0
dtype: int64

In [8]:
columns_list = train_df['Category'].unique().tolist()
columns_list

['politics', 'business', 'sport', 'entertainment', 'tech']

In [9]:
counts = train_df['Category'].value_counts()
for col in columns_list:
    col_sum = counts[col]
    print(f'Total no of {col}_is {col_sum}')

Total no of politics_is 196
Total no of business_is 235
Total no of sport_is 250
Total no of entertainment_is 178
Total no of tech_is 184

## CLEANING

In [35]:
def cleaning_process(df, label = None):
    df[label] = df[label].str.lower()

In [36]:
cleaning_process(train_df, label= 'Text')
train_df.iloc[675,1]

'hillbillies singer scoggins dies country and western musician jerry scoggins has died in los angeles at the age of 93  his family has said.  scoggins was best remembered for singing the theme tune to popular us tv show the beverly hillbillies. the texan-born singer approached the producers of the programme with theme tune the ballad of jed clampett for the pilot which was screened in 1962. the show  which told the story of a poor man striking oil and moving to beverly hills  ran until 1971.  scoggins  daugher jane kelly misel said that her father never tired of the song and would sing it at least once a day.  he d sing it at birthdays and anniversaries and variety shows. he never stopped performing it   she said. when a film version of the beverly hillbillies was made in 1993  scoggins came out of retirement to perform the theme tune. scoggins sang the lyrics while bluegrass stars lester flatt and earl scruggs played guitar and banjo.'